/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/fonts-manifest.dev.json
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.env.production
/vercel.env
auth.json
database/database.sqlite
includes/database.local.php
npm-debug.log
yarn-error.log
.vercel
