* {
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #555;
}

/*--------------HEADER--------------- */

header {
    width: 100%;
}


.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

h2 {
    font: 600 2.5em/1.2em "Trebuchet MS";
    text-align: center;
    color: #555;
    margin: 30px;
    padding: 30px;
}

header p{
    font: 500 0.845em/1.3em "Trebuchet MS";
    text-align: justify;
    max-width: 900px;
    color: #555;
    margin: 10px auto 30px;
}

/*--------------MAIN--------------- */

main {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 50px;
}

.main-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.main-info h3 {
    font: 600 1.2em/1.4em "Trebuchet MS";
    color: #555;
    margin: 40px 0 0 0;
    text-align: left;
    width: 100%;
    max-width: 900px;
}

.main-info > p {
    font: 500 0.845em/1.3em "Trebuchet MS";
    text-align: justify;
    max-width: 900px;
    color: #555;
    margin: 10px 0 10px;
    padding: 0;
    max-width: 900px;
    width: 100%;
}

.main-info p strong{
    color: #2e59bc;
    max-width: 900px;
}

main ul {
    width: 100%;
    max-width: 900px;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
    font: 500 0.845em/1.3em "Trebuchet MS";
    width: 100%;
    max-width: 900px;
    margin-left: 30px;
}

strong {
    color: #2e59bc;
}

ol {
    font: 500 1em/1em "Trebuchet MS";
    margin: 0;
    padding-left: 20px;
}

ol li {
    max-width: 900px;
    margin: 0px;
    padding: 3px;
    font: 500 0.845em/1em "Trebuchet MS";
} 